@import "tailwindcss";

@layer components {
  .input-field {
    @apply w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 outline-none transition;
  }
  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
}
